<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<footer th:fragment="footer">
    <!-- Compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.1/js/materialize.min.js"></script>-->
    <!-- Graph -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- Personnal script -->
    <script th:src="@{/assets/js/main.js}"></script>

    <p th:if="${alert!=null}">
        <script th:inline="javascript">
            console.log([[${alert}]]);
            var message = "<i class=\"material-icons\">warning</i> " + [[${alert}]];
            console.log(message);
            Materialize.toast(message.toString(), 6000, 'red');
        </script>
    </p>
    <p th:if="${alerts!=null}">
        <script th:inline="javascript">
            var alerts = [[${alerts}]];
            $(document).ready(function () {
                showAlert();
            });
            function showAlert() {
                alerts.forEach(function (alertRised) {
                    var message = "<i class=\"material-icons\">warning</i> " + alertRised.defaultMessage;
                    Materialize.toast(message.toString(), 6000, 'red');
                })
            }
        </script>
    </p>
    <p th:if="${info!=null}">
        <script th:inline="javascript">
            var message = "<i class=\"material-icons\">check_circle</i> " + [[${info}]];
            console.log(message);
            Materialize.toast(message.toString(), 6000, 'green');
        </script>
    </p>


    <div id="ajax-loader"><!-- Place at bottom of page --></div>
</footer>
</html>