<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<!--Header, should be on all templates-->
<header th:fragment="header">
    <nav>
        <a href="#" data-activates="slide-out" class="button-collapse grey-text text-darken-3"><i class="material-icons">menu</i></a>
            <div class="right drop-pmenu">
                <a class='dropdown-button btn' href='#' data-activates='personnal-menu'>Jack Beauregard</a>
                <!-- Dropdown Structure -->
                <ul id='personnal-menu' class='dropdown-content'>
                    <li><a href="#!"><i class="material-icons">perm_identity</i>Profile</a></li>
                    <li class="divider"></li>
                    <li><a href="#!"><i class="material-icons">power_settings_new</i>Logout</a></li>
                </ul>
            </div>
    </nav>

    <ul id="slide-out" class="side-nav fixed">
        <div id="logo">
            <!--<img src="assets/img/logo_12Tree_resize.jpg">-->
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">search</i>
                <input id="icon_prefix" type="text" class="autocomplete" />
                <label for="icon_prefix">Search</label>
            </div>
        </div>
        <!--DropDown-->
        <li class="bold">
            <ul class="collapsible collapsible-accordion">
                <li>
                    <a class="collapsible-header" ><i class="petite material-icons">business</i>Main Companies<i class="material-icons right extend-menu">arrow_drop_down</i></a>
                    <div class="collapsible-body">
                        <ul>
                            <li class="sub-menu"><a th:href="@{/maincompany/}">All</a></li>
                            <li class="sub-menu"><a th:href="@{/maincompany/add/}">Add</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <!--DropDown-->
        <li class="bold">
            <ul class="collapsible collapsible-accordion">
                <li>
                    <a class="collapsible-header" href="#"><i class="petite material-icons">business</i>Companies<i class="material-icons right">arrow_drop_down</i></a>
                    <div class="collapsible-body">
                        <ul>
                            <li class="sub-menu"><a href="#!">All</a></li>
                            <li class="sub-menu"><a href="#!">Find one</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <!--End DropDown-->
        <!--DropDown-->
        <li class="bold">
            <ul class="collapsible collapsible-accordion">
                <li>
                    <a class="collapsible-header" href="#"><i class="petite material-icons">work</i>Projects<i class="material-icons right">arrow_drop_down</i></a>
                    <div class="collapsible-body">
                        <ul>
                            <li class="sub-menu"><a href="#!">Check All</a></li>
                            <li class="sub-menu"><a href="#!">Find one</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <!--End DropDown-->
        <!--DropDown-->
        <li class="bold">
            <ul class="collapsible collapsible-accordion">
                <li>
                    <a class="collapsible-header" href="#"><i class="petite material-icons">business</i>Plots<i class="material-icons right">arrow_drop_down</i></a>
                    <div class="collapsible-body">
                        <ul>
                            <li class="sub-menu"><a href="#!">Check All</a></li>
                            <li class="sub-menu"><a href="#!">Find one</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <!--End DropDown-->
        <!--DropDown-->
        <li class="bold">
            <ul class="collapsible collapsible-accordion">
                <li>
                    <a class="collapsible-header" href="#"><i class="petite material-icons">shopping_cart</i>Sales<i class="material-icons right">arrow_drop_down</i></a>
                    <div class="collapsible-body">
                        <ul>
                            <li class="sub-menu"><a href="#!">Check All</a></li>
                            <li class="sub-menu"><a href="#!">Find one</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <!--End DropDown-->
        <!--DropDown-->
        <li class="bold">
            <ul class="collapsible collapsible-accordion">
                <li>
                    <a class="collapsible-header" href="#"><i class="petite material-icons">swap_calls</i>Harvests<i class="material-icons right">arrow_drop_down</i></a>
                    <div class="collapsible-body">
                        <ul>
                            <li class="sub-menu"><a href="#!">Check All</a></li>
                            <li class="sub-menu"><a href="#!">Find one</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <!--End DropDown-->
        <!--DropDown-->
        <li class="bold">
            <ul class="collapsible collapsible-accordion">
                <li>
                    <a class="collapsible-header" href="#"><i class="petite material-icons">report_problem</i>Alerts<i class="material-icons right">arrow_drop_down</i></a>
                    <div class="collapsible-body">
                        <ul>
                            <li class="sub-menu"><a href="#!">Check All</a></li>
                            <li class="sub-menu"><a href="#!">Find one</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <!--End DropDown-->
        <!--DropDown-->
        <li class="bold">
            <ul class="collapsible collapsible-accordion">
                <li>
                    <a class="collapsible-header" href="#"><i class="petite material-icons">supervisor_account</i>Users<i class="material-icons right">arrow_drop_down</i></a>
                    <div class="collapsible-body">
                        <ul>
                            <li class="sub-menu"><a href="#!">Check All</a></li>
                            <li class="sub-menu"><a href="#!">Find one</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <!--End DropDown-->
    </ul>
</header>
<!--Header, should be on all templates-->
</html>