<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--Header, should be on all templates-->

<div th:fragment="header">
    <header>
        <nav>
            <div class="row">
               <div class="col l6">
                   <a href="#" data-activates="slide-out" class="button-collapse grey-text text-darken-3">
                       <i class="material-icons">menu</i>
                   </a>
               </div>
                <div class="col l6 right">
                    <a id="personnal-menu-button" href='#' data-activates='personnal' class="right valign-wrapper">
                       <img class="circle header-picture" th:src="@{'/files/' + ${#authentication.principal.picture}}">
                        <span th:text="${#authentication.name}"></span>
                        <i class="material-icons">arrow_drop_down</i>
                    </a>
               </div>
            </div>
        </nav>
       <!-- LEFT MENU-->
        <ul id="slide-out" class="side-nav fixed">
            <!-- LOGO-->
            <a th:href="@{/}">
                <div id="logo">
                    <!--<img src="assets/img/logo_12Tree_resize.jpg">-->
                </div>
            </a>
            <!-- END LOGO -->
            <!-- Search TOOL-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">search</i>
                    <input id="icon_prefix" type="text" class="autocomplete" />
                    <label for="icon_prefix">Search</label>
                </div>
            </div>
            <!-- End Search TOOL-->
            <li class="no-padding">
                <ul class="collapsible collapsible-accordion">
                    <li>
                        <a class="collapsible-header"><i class="petite material-icons">business</i>Holding<i class="material-icons right">arrow_drop_down</i></a>
                        <div class="collapsible-body">
                            <ul>
                                <li class="sub-menu"><a th:href="@{/holding/}">All</a></li>
                                <li class="sub-menu"><a th:href="@{/holding/add/}">Add</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="no-padding">
                <ul class="collapsible collapsible-accordion">
                    <li>
                        <a class="collapsible-header"><i class="petite material-icons">location_city</i>Companies<i class="material-icons right">arrow_drop_down</i></a>
                        <div class="collapsible-body">
                            <ul>
                                <li class="sub-menu"><a th:href="@{/company/}">All</a></li>
                                <li class="sub-menu"><a th:href="@{/company/add/}">Add</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="no-padding">
                <ul class="collapsible collapsible-accordion">
                    <li>
                        <a class="collapsible-header"><i class="petite material-icons">work</i>Projects<i class="material-icons right">arrow_drop_down</i></a>
                        <div class="collapsible-body">
                            <ul>
                                <li class="sub-menu"><a th:href="@{/project/}">All</a></li>
                                <li class="sub-menu"><a th:href="@{/project/add/}">Add</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="no-padding">
                <ul class="collapsible collapsible-accordion">
                    <li>
                        <a class="collapsible-header"><i class="petite material-icons">location_on</i>Plots<i class="material-icons right">arrow_drop_down</i></a>
                        <div class="collapsible-body">
                            <ul>
                                <li class="sub-menu"><a th:href="@{/plot/}">All</a></li>
                                <li class="sub-menu"><a th:href="@{/plot/map/}">All (map)</a></li>
                                <li class="sub-menu"><a th:href="@{/plot/add/}">Add</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="no-padding">
                <ul class="collapsible collapsible-accordion">
                    <li>
                        <a class="collapsible-header"><i class="petite material-icons">spa</i>Resource<i class="material-icons right">arrow_drop_down</i></a>
                        <div class="collapsible-body">
                            <ul>
                                <li class="sub-menu"><a th:href="@{/resource/}">All</a></li>
                                <li class="sub-menu"><a th:href="@{/resource/add/}">Add</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="no-padding">
                <ul class="collapsible collapsible-accordion">
                    <li>
                        <a class="collapsible-header"><i class="petite material-icons">swap_calls</i>Harvests<i class="material-icons right">arrow_drop_down</i></a>
                        <div class="collapsible-body">
                            <ul>
                                <li class="sub-menu"><a th:href="@{/harvest/}">All</a></li>
                                <li class="sub-menu"><a th:href="@{/harvest/add/}">Add</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="no-padding">
                <ul class="collapsible collapsible-accordion">
                    <li>
                        <a class="collapsible-header"><i class="petite material-icons">shopping_cart</i>Sales<i class="material-icons right">arrow_drop_down</i></a>
                        <div class="collapsible-body">
                            <ul>
                                <li class="sub-menu"><a href="#!">Check All</a></li>
                                <li class="sub-menu"><a href="#!">Find one</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="no-padding">
                <ul class="collapsible collapsible-accordion">
                    <li>
                        <a class="collapsible-header"><i class="petite material-icons">report_problem</i>Alerts<i class="material-icons right">arrow_drop_down</i></a>
                        <div class="collapsible-body">
                            <ul>
                                <li class="sub-menu"><a th:href="@{/alert/}">All</a></li>
                                <li class="sub-menu"><a th:href="@{/alert/add/}">Add</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="no-padding">
                <ul class="collapsible collapsible-accordion">
                    <li>
                        <a class="collapsible-header"><i class="petite material-icons">supervisor_account</i>Users<i class="material-icons right">arrow_drop_down</i></a>
                        <div class="collapsible-body">
                            <ul>
                                <li class="sub-menu"><a th:href="@{/user/}">All</a></li>
                                <li class="sub-menu"><a th:href="@{/user/add/}">Add</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
        <!--Test Personnal menu-->
        <ul id="personnal" class="side-nav">
            <li>
                <div class="user-view">
                <a href="#!userCustom"><img class="circle" th:src="@{'/files/' + ${#authentication.principal.picture}}"></a>
                <a href="#!name">
                    <span class="white-text name">
                        <span th:text="${#authentication.principal.firstName}"></span>
                        <span th:text="${#authentication.principal.lastName}"></span>
                        <!--<span th:text="${#authentication.principal.email}"></span>-->
                    </span>
                </a>
                <a href="#!email"><span class="white-text email" th:text="${#authentication.principal.email}"></span></a>
            </div></li>
            <li><a th:href="@{/profile}"><i class="material-icons">perm_identity</i>Profile</a></li>
            <li><div class="divider"></div></li>
            <li><a class="subheader">Subheader</a></li>
                <form th:action="@{/logout}" method="post">
                    <!--<input type="submit" value="Sign Out"/>-->
                    <li><a type="submit"><i class="material-icons">power_settings_new</i>Logout</a></li>
                </form>
            <li>
                <div class="row">
                    <div class="col l4 m4 s4 center-align">
                        <i class="material-icons">power_settings_new</i>
                    </div>
                    <div class="col l4 m4 s4 center-align">
                        <i class="material-icons">power_settings_new</i>
                    </div>
                    <div class="col l4 m4 s4 center-align">
                        <form th:action="@{/logout}" method="post">
                            <!--<input type="submit" value="Sign Out"/>-->
                            <button class="btn btn-submit-custom" type="submit"><i class="material-icons">power_settings_new</i></button>
                        </form>
                    </div>
                </div>
            </li>
        </ul>

        <!--end test personnal menu-->
    </header>
    <!--Header, should be on all templates-->
</div>


</html>