<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

    <div th:fragment="sheetCompany">

        <table class="bordered highlight responsive-table">
            <thead>
            <tr>
                <th><a class="sortable" data-sorted-by="id" href="#">ID</a></th>
                <th><a class="sortable" data-sorted-by="name" href="#">Name</a></th>
                <th><a class="sortable"  data-sorted-by="holding" href="#">Holding</a></a></th>
                <th><a class="sortable" data-sorted-by="country" href="#">Country</a></th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="company : ${companies}">
                <td th:text="${company.id}">undefined</td>
                <td th:text="${company.name}">undefined</td>
                <td th:text="${company.holding.name}">undefined</td>
                <td>
                    <img class="responsive-img mini-pic" th:src="@{${'/files/' + company.country.flag}}" th:title="${company.country.name}">
                </td>
                <td>
                    <a th:href="@{'/company/view/' + ${company.id}}" class="btn-floating btn-small waves-effect waves-light">
                        <i class="material-icons">visibility</i>
                    </a>
                    <a th:href="@{'/company/update/' + ${company.id}}" class="btn-floating btn-small waves-effect waves-light">
                        <i class="material-icons">edit</i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</html>