* {
    /*transition: all .5s;*/
}
html {
    font-size: 16px;
    background-color: #F7F7F7;
}
body {
    color: #73879C;
}
h1, h2, h3, h4, h5, h6 {
    color: inherit;
}
h1 {
    font-size: 1.3em;
}
h2 {
    font-size: 1.1em;
    font-weight: 400;
}

header, main, footer {
    padding-left: 250px;
}
.graph {
    height:40vh;
}
nav {
    background-color: #EDEDED;
}
#logo {
    height: 64px;
    background-image: url("../img/logo_12Tree_resize.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.tabs .indicator { display: none; }
.tabs .tab a {
    color: rgba(42,63, 84, 0.7);
}
.tabs .tab a:hover {
    color: rgba(42,63, 84, 1);
}
.tabs .tab a.active {
    color: #2A3F54;
    border-bottom: 2px solid #2A3F54;
}
.side-nav {
    color: #FFFFFF;
    background-color: #2A3F54;
}
.side-nav li>a>i.material-icons {
    margin-right: 23px;
    height:auto;
}

.sub-menu {
    background-color: #546576;
}
.drop-pmenu {
    margin-right: 4em;
}
/*modifier l'apparence des scrollbars de tout le forum*/
::-webkit-scrollbar {
    width: 5px; /*largeur de la scrollbar verticale*/
    height: 5px; /*hauteur de la scrollbar horizontale*/
    background-color: red;}

::-webkit-scrollbar-track {
    background-color: #62778C; /*couleur du fond de la scrollbar*/
}
::-webkit-scrollbar-thumb { /*la petite bande qui monte/descend*/
    background-color: #52677C /*couleur de l'ascenseur*/;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;}

.side-nav > li a, .side-nav > li a i.material-icons{
    color: #FFFFFF;
}
.softversion {
    position: absolute;
    bottom: 0;
}
.panel6 {
    width: 100%;
    padding: 10px 17px;
    margin-top: 1em;
    display: inline-block;
    background: #fff;
    border: 1px solid #E6E9ED;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    opacity: 1;
    transition: all .2s ease;
}
div.row.small-margin {
    margin-bottom: 6px;
}
.panel_title {
    border-bottom: 2px solid #E6E9ED;
    padding: 1px 0px 3px;
}
.panel_title>h1 {
    font-size: 2.6rem;
    margin-bottom: 1rem;
}
.panel_title h2 {
    margin: 5px 0 6px;
    display: block;
}
.panel_title input.select-dropdown, .panel_title div.select-wrapper.input-field {
    margin: 0;

}
.map-panel {
    min-height: 400px;
}
/*Sheet*/
img.mini-pic {
    width: 29px;
}


/*End Sheet*/
/*Google Map*/
#map {
    height: 400px;
    width: 100%;
}
.gm-style-iw {
    top: 15px !important;
    left: 0px !important;
    background-color: #fff;
}
.gm-window {
    margin-bottom: 10px;
}
.gm-window .gm-window-title {
    font-size: 22px;
    font-weight: 400;
    padding: 10px;
    background-color: #2A3F54;
    color: white;
    margin: 0;
    border-radius: 2px 2px 0 0;
}
.gm-window .gm-window-content {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    margin-right: 1px;
    padding: 15px 5px 20px 15px;
    max-height: 140px;
    overflow-y: auto;
    overflow-x: hidden;
}
.gm-window-content img {
    float: right;
    margin: 0 5px 5px 10px;
}
.gm-window-subTitle {
    font-size: 16px;
    font-weight: 700;
    padding: 5px 0;
}
.gm-window-bottom-gradient {
    position: absolute;
    width: 326px;
    height: 25px;
    bottom: 10px;
    right: 18px;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
#ajax-loader {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
    url('../img/ajax-loader.gif')
    50% 50%
    no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading #ajax-loader {
    display: block;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

.login-main {
    height: 100vh;
}