<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<div th:replace="common/head :: head"></div>
<div th:replace="common/header :: header"></div>
<main>
    <div class="row">
        <div class="col l12 m12 s12">
            <div>
                <div class="panel6">
                    <div class="panel_title">
                        <h2>Add a Resource to Plot</h2>
                    </div>
                    <form id="editPlotResourceForm" th:action="@{'/plot/view/'+ ${plot.id} + '/edit-resources/'}" th:object="${plotResourceForm}" method="post" class="col s12" th:fragment="editPlotResourceForm">
                        <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
                        <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
                        <div class="row input_fields_wrap" th:each="plotResource, rowStat : *{plotResourceList}" th:id="${rowStat.index}">
                            <div class="input-field col l5 m5 s5">
                                <input type="hidden" th:field="*{plotResourceList[__${rowStat.index}__].plot}" />
                                <select th:field="*{plotResourceList[__${rowStat.index}__].resource}">
                                    <option id="resourceForm" th:each="resource: ${resources}" th:value="${resource.id}" th:text="${resource.name}"></option>
                                </select>
                                <label for="resourceForm">Resource</label>
                            </div>
                            <div class="input-field col l5 m5 s5">
                                <input id="proportionForm" type="text" th:field="*{plotResourceList[__${rowStat.index}__].proportion}" th:value="*{plotResourceList[__${rowStat.index}__].proportion}" />
                                <label for="proportionForm">Proportion</label>
                            </div>
                            <div class="input-field col l2 m2 s2">
                                <a class="remove-field"><i class="material-icons left">delete</i></a>
                            </div>
                        </div>

                        <a id="add_field_button" class="waves-effect waves-light btn"><i class="material-icons left">add</i>Add</a>
                        <input class="waves-effect waves-light btn" type="submit" />

                        <script th:inline="javascript" th:src="@{/assets/js/utils/refreshSelect.js}"></script>
                       <!-- Retrieving Resources form model attribute-->
                        <script th:each="resource:${resources}" th:inline="javascript">
                            var resourceItems = [];
                            /*[# th:each="n : ${resources}"]*/
                                resourceItems.push({"id":"[(${n.id})]", "name":"[(${n.name})]"});
                            /*[/]*/
                        </script>
                        <!-- Building line Form-->
                        <script th:inline="javascript">
                            $(document).ready(function(e) {
                                var deleter         = $(".input_fields_wrap"); //Fields wrapper
                                var add_button      = $("#add_field_button"); //Add button ID
                                var plotId = [[${plot.id}]];
                                var optionSelect = "";
                                for (y = 0; y < resourceItems.length; y++) {
                                    optionSelect = optionSelect + "<option id='resourceForm' value='"+ resourceItems[y].id+"'>"+ resourceItems[y].name+"</option>\n"
                                }

                                $(add_button).click(function (e) {
                                    e.preventDefault();
                                    //Get the last item
                                    var idLastItem = parseInt($('#editPlotResourceForm').children('div').last().attr('id'));
                                    var idNewItem = 0;
                                    //Check if there is resources, if yes, we add 1 otherwise we just leave 0 as first field
                                    if (!isNaN(idLastItem)) {
                                        idNewItem = idLastItem + 1;
                                    }
                                    var insertion = "<div class='row' id='"+ idNewItem +"'>\n" +
                                        "                            <div class='input-field col l5 m5 s5'>\n" +
                                        "                                <input type='hidden' id='" + "plotResourceList"+ idNewItem +".plot" +"' name='" + "plotResourceList["+ idNewItem +"].plot" +"' value='"+plotId+"' />\n" +
                                                                        "<select id='" + "plotResourceList["+ idNewItem +"].plot" +"' name='"+ "plotResourceList[" + idNewItem + "].resource" + "'>" +
                                                                            optionSelect +
                                        "                                </select>\n" +
                                        "                                <label for='resourceForm'>Resource</label>\n" +
                                        "                            </div>\n" +
                                        "                            <div class=\"input-field col l5 m5 s5\">\n" +
                                        "                                <input id='proportionForm' name='"+ "plotResourceList["+ idNewItem + "].proportion" +"' type=\"text\" id='plotResourceList[\"+ idNewItem +\"].proportion' />\n" +
                                        "                                <label for='proportionForm'>Proportion</label>\n" +
                                        "                            </div>\n" +
                                        "                            <div class=\"input-field col l2 m2 s2\">\n" +
                                        "                                <a class='remove-field'><i class=\"material-icons left\">delete</i></a>\n" +
                                        "                            </div>\n" +
                                        "                        </div>";
                                    $( insertion ).insertBefore( "#add_field_button" );
                                    $('select').material_select();
                                });
                                $(deleter).on("click", ".remove-field", function (e) {
                                    e.preventDefault();
                                    $(this).parent('div').parent().remove();
                                });

                                $('form').submit(function (event) {
                                    var formData = $('form').serialize();
                                    console.log(formData);
                                    event.preventDefault();
                                    var token = $('#_csrf').attr('content');
                                    var header = $('#_csrf_header').attr('content');
                                    $.ajax({
                                        type: "POST",
                                        url: "/plot/view/"+plotId+"/edit-resources/",
                                        beforeSend: function(xhr) {
                                            xhr.setRequestHeader(header, token);
                                        },
                                        data: formData,
                                    });
                                    loadResourceOfPlot();

                                });


                                function loadResourceOfPlot() {
                                    console.log("Loading new graph")
                                    loadChartFragment();
                                }
                            });
                        </script>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

<div th:replace="common/footer :: footer"></div>
</html>