<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<div th:replace="common/head :: head"></div>
<div th:replace="common/header :: header"></div>
<main>
    <div class="row">
        <div class="col l12 m12 s12">
            <div class="panel6">
                <div class="panel_title">
                    <h1>Plot <span th:text="${plot.name}"></span></h1>
                </div>
                This page is a particular plot
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col l6 m6 s12">
            <div class="panel6">
                <div class="panel_title">
                    <h2>Manager</h2>
                </div>
            </div>
        </div>
        <div class="col l6 m6 s12">
            <div class="panel6">
                <div class="panel_title">
                    <h2>Project</h2>
                </div>
                Name: <span th:text="${plot.project.name}"></span><br/>

            </div>
        </div>
        <div class="col l6 m6 s12">
            <div class="panel6">
                <div class="panel_title">
                    <h2>Resources</h2>
                </div>


            </div>
        </div>
        <div class="row">
            <div class="col l12 m12 s12">
                <div class="panel6">
                    <div class="panel_title">
                        <h2>Plots</h2>
                    </div>
                    <p>This plots belongs to <span th:text="${plot.id}"></span> </p>
                    <table class="bordered highlight responsive-table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Proportion</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="resourcePlot : ${plot.plotResources}">
                            <td th:text="${resourcePlot.resource.name}">undefined</td>
                            <td th:text="${resourcePlot.proportion}">undefined</td>
                            <!--<td>
                                <a th:href="@{'/project/' + ${plot.id}}" class="btn-floating btn-small waves-effect waves-light">
                                    <i class="material-icons">visibility</i>
                                </a>
                                <a th:href="@{'/project/' + ${plot.id}}" class="btn-floating btn-small waves-effect waves-light">
                                    <i class="material-icons">edit</i>
                                </a>
                            </td>-->
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col l12 m12 s12">
                <div class="panel6">
                    <div class="panel_title">
                        <h2>Plots</h2>
                    </div>
                    <div class="map-panel">
                        <div id="map"></div>
                    </div>
                </div>
            </div>
        </div>
        <!--Add button-->
        <div class="fixed-action-btn horizontal">
            <a th:href="@{/project/add/}" class="btn-floating btn-large waves-effect waves-light">
                <i class="material-icons">add</i>
            </a>
        </div>
        <!-- end Add button-->
</main>

<div th:replace="common/footer :: footer"></div>
</html>