<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<div th:replace="common/head :: head"></div>
<div th:replace="common/header :: header"></div>
<main>
    <div class="row">
        <div class="col l12 m12 s12">
            <div class="panel6">
                <div class="panel_title">
                    <h2>Add a Project</h2>
                </div>
                <!--/*@thymesVar id="MainCompany" type="de.onetwotree.margaux.entity.MainCompany"*/-->
                <form action="#" th:action="@{/plot/add/}" th:object="${plot}" method="post" class="col s12">
                    <div class="row">
                        <div class="input-field col l6 m6 s12">
                            <input id="projectName" type="text" class="validate" th:field="*{name}" required="required" />
                            <label for="projectName">Plot Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col l6 m6 s12">
                            <input id="plotSize" type="number"  th:field="*{size}" required="required" min="0" step="0.01" />
                            <label for="plotSize">Size (ha)</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col l6 m6 s12">
                            <input id="plotLatitude" type="number" th:field="*{latitude}" min="-90" max="90" step="0.0000000001" />
                            <label for="plotLatitude">Latitude</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col l6 m6 s12">
                            <input id="plotLongitude" type="number" th:field="*{longitude}" min="-180" max="180" step="0.0000000001" />
                            <label for="plotLatitude">Longitude</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col l6 m6 s12">
                            <select th:field="*{project}" class="input-field">
                                <option id="projectPlot" th:each="project: ${projects}" th:value="${project.id}" th:text="${project.name}"></option>
                            </select>
                            <label for="projectPlot">Project</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col l6 m6 s12">
                            <select th:field="*{manager}" class="input-field">
                                <option id="manager" th:each="user: ${users}" th:value="${user.id}" th:text="${user.firstname}"></option>
                            </select>
                            <label for="manager">Manager</label>
                        </div>
                    </div>

                    <input class="waves-effect waves-light btn" type="submit" />
                </form>
            </div>
        </div>
    </div>
</main>

<div th:replace="common/footer :: footer"></div>
</html>