<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<div th:replace="common/head :: head"></div>
<div th:replace="common/header :: header"></div>
<main>
    <div class="row">
        <div class="col l6 m6 s12">
            <div class="panel6">
                <div class="panel_title">
                    <h2>Plots</h2>
                </div>
                <div class="map-panel">
                    <div sec:authentication="principal.getAuthorities()">
                        The value of the "name" property of the authentication object should appear here.
                    </div>
                    <div sec:authorize="hasRole('ROLE_USER')" > Has Authority USER </div>
                    <div sec:authorize="hasRole('ADMIN')" > Has Authority ADMIN </div>

                    <!--<span th:text ="${#authentication.principal.userCustom.picture}"></span>-->
                </div>

            </div>
        </div>
        <div class="col l6 m6 s12">
            <div class="panel6">
                <div class="panel_title">
                    <h2>Alerts</h2>
                </div>
                <div th:with="alertItems=${alertList}">
                    <div th:replace="common/sheetAlert :: sheetAlert"></div>
                </div>
                <p class="center-align"><a> See all...</a></p>

            </div>
        </div>
    </div>
    <!-- Dropdown Trigger -->
    <a class='dropdown-button btn' data-beloworigin="true" constrainWidth="true" href='#' data-activates='dropdown1'>Drop Me!</a>

    <!-- Dropdown Structure -->
    <ul id='dropdown1' class='dropdown-content'>
        <li><a href="#!">one</a></li>
        <li><a href="#!">two</a></li>
        <li class="divider"></li>
        <li><a href="#!">three</a></li>
        <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
        <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
    </ul>
    <form action="/logout">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        <input type="submit">
    </form>
</main>

<div th:replace="common/footer :: footer"></div>
</html>