<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<div th:replace="common/head :: head"></div>
<div th:replace="common/header :: header"></div>
<main>
    <div class="row">
        <div class="col l12 m12 s12">
            <div class="panel6">
                <div class="panel_title">
                    <h2>Main Companies</h2>
                </div>
                <table class="bordered highlight responsive-table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Manager</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                            <tr th:each="maincompany : ${MainCompanies}">
                                    <td th:text="${maincompany.id}">undefined</td>
                                    <td th:text="${maincompany.name}">undefined</td>
                                    <td th:text="${maincompany.manager.firstname} + ' ' + ${maincompany.manager.lastname}">undefined</td>
                                    <td>
                                        <a th:href="@{'/maincompany/' + ${maincompany.id}}" class="btn-floating btn-small waves-effect waves-light">
                                            <i class="material-icons">visibility</i>
                                        </a>
                                        <a th:href="@{'/maincompany/' + ${maincompany.id}}" class="btn-floating btn-small waves-effect waves-light">
                                            <i class="material-icons">edit</i>
                                        </a>
                                        <a class="waves-effect waves-light btn modal-trigger" th:href="'#modal1' + ${maincompany.id}">Modal</a>
                                    </td>
                            </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--Add button-->
    <div class="fixed-action-btn horizontal">
        <a th:href="@{/maincompany/add/}" class="btn-floating btn-large waves-effect waves-light">
            <i class="material-icons">add</i>
        </a>
    </div>
    <!-- end Add button-->
    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Deleting Main Company ...</h4>
            <p>Are you sure you want to delete this main company ?</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
    </div>
    <!-- End Modal-->
</main>

<div th:replace="common/footer :: footer"></div>
</html>